---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---
I have explored various fields of research related to systems biology and genomics. Check out my [google scholar profile](https://scholar.google.com/citations?user=NGTF3vsAAAAJ&hl=en).
This is the front page of a website that is powered by the [academicpages template](https://github.com/academicpages/academicpages.github.io) and hosted on GitHub pages. [GitHub pages](https://pages.github.com) 

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

